@font-face
  font-family: 'iconfont'
  src: url(C:/Users/55235/Desktop/WebProject/vue-music/src/common/fonts/iconfont.eot?t=1502383502675)
  src: url(C:/Users/55235/Desktop/WebProject/vue-music/src/common/fonts/iconfont.eot?t=1502383502675#iefix) format('embedded-opentype'), url(C:/Users/55235/Desktop/WebProject/vue-music/src/common/fonts/iconfont.woff?t=1502383502675) format('woff'), url(C:/Users/55235/Desktop/WebProject/vue-music/src/common/fonts/iconfont.ttf?t=1502383502675) format('truetype'), url(C:/Users/55235/Desktop/WebProject/vue-music/src/common/fonts/iconfont.svg?t=1502383502675#iconfont) format('svg')

[class^="icon-"], [class*=" icon-"]
  font-family:"iconfont" !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.icon-next:before
  content: "\e7dd"

.icon-expand:before
  content: "\e70d"

.icon-random:before
  content: "\e863"

.icon-play:before
  content: "\e676"

.icon-prev:before
  content: "\e98d"

.icon-minimize:before
  content: "\e804"

.icon-full:before
  content: "\e80b"

.icon-pause:before
  content: "\e81e"

.icon-not-favorite:before
  content: "\e66e"

.icon-favorite:before
  content: "\e674"

.icon-arrows-alt:before
  content: "\e649"

.icon-compress:before
  content: "\e6a7"

.icon-step-backward:before
  content: "\e624"

.icon-sequence:before
  content: "\e625"

.icon-loop:before
  content: "\e674"

.icon-back:before
  content: "\e61e"

.icon-playlist:before
  content: "\e7f4"
